body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1 {
  color: green;
}
     
/* toggle in label designing */
.toggle{
  position : relative ;
  display : inline-block;
  width : 12rem;
  height : 3rem;
}
/* After slide changes */
.toggle:after {
  content: '';
  position: absolute;
  width: 5rem;
  height: 2.7rem;
  border-radius: 30px;
  background-color: #8878C3;
  opacity: 50%;
  top: 0.15rem;
  left: 1.15rem;
  transition:  all 0.5s;
}
     
/* Toggle text */
p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
     
/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
  left : 6.2rem;
}
     
/* Checkbox vanished */
.checkbox {
  display : none;
}
.br {
  display: block;
  margin-bottom: 0.85rem;
}